<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <huebee hues="6" hue0="0" shades="7" saturations="3" notation="shortHex" type="Sitecore.Huebee.Models.HuebeeConfiguration, Sitecore.Huebee">
      <customColors hint="raw:AddCustomColors">
        <color code="#cc0000" />
      </customColors>
    </huebee>
    <pipelines>
      <renderContentEditor>
        <processor patch:before="*[1]" type="Sitecore.Huebee.Pipelines.RenderContentEditor.LoadContentEditorAssets, Sitecore.Huebee" />
      </renderContentEditor>
    </pipelines>
  </sitecore>
</configuration>
