<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <huebee hint="raw:AddOptions" type="Sitecore.Huebee.Models.HuebeeConfiguration, Sitecore.Huebee">
      <hues>1</hues>
      <hue0>0</hue0>
      <shades>0</shades>
      <saturations>0</saturations>
      <notation>shortHex</notation>
      <customColors hint="raw:AddCustomColors">
        <color code="#cc0000" />
        <color code="#333333" />
        <color code="#FFC31F" />
      </customColors>
    </huebee>
    <pipelines>
      <renderContentEditor>
        <processor patch:before="*[1]" type="Sitecore.Huebee.Pipelines.RenderContentEditor.LoadContentEditorAssets, Sitecore.Huebee" />
      </renderContentEditor>
    </pipelines>
  </sitecore>
</configuration>
